[ req ]
distinguished_name = req_distinguished_name

[req_distinguished_name]

[ v3_issuer ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature
subjectAltName         = URI:https://smarthealth.cards/examples/issuer
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always

[ v3_ca ]
basicConstraints = CA:TRUE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always


