[ req ]
req_extensions          = v3_req
x509_extensions         = v3_ca
distinguished_name = req_distinguished_name

[req_distinguished_name]

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature
subjectAltName         = URI:https://smarthealth.cards/examples/issuer

[ v3_ca ]
basicConstraints = CA:TRUE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

