site_name: SMART Health Cards Framework
repo_url: https://github.com/smart-on-fhir/health-cards
edit_uri: 'edit/main/docs'


nav:
  - Protocol: index.md
  - Credential Modeling: credential-modeling.md
  - Credential Types: vocabulary.md
  - Examples: examples/index.md
  - Changelog: changelog.md

theme:
  name: material

markdown_extensions:
  - toc:
      permalink: true
      baselevel: 2
      toc_depth: 4
  - admonition:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format


plugins:
    - search

extra_javascript:
    - https://unpkg.com/mermaid@8.7.0/dist/mermaid.min.js
    - mermaid.js

extra_css:
    - style.css
